body {
	color: #333333;
	font-family: 'Merriweather', serif;
	margin: 0 auto;
	width: 800px;
}

#colsplit {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

li {
	list-style-type: lower-greek
}
