/* Element level styles */
body {
	color: #333333;
	font-family: 'Merriweather', serif;
	margin: 0 auto;
	width: 960px;
}

header {

}

#colsplit {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

ul {
	list-style: none;
}

footer {
    height: 20px;
	font-size: 10px;
    margin: 20px;
    color: white;
    background-color: #333333;
    text-align: center;
}

/* Class level styles */
.yep_image {
    margin: 50px;
	padding: 20px;
}

.topnav a.active {
    background-color: #E8453B;
    animation: colorchange 120s;
    -webkit-animation: colorchange 120s;
    color: white;
}

.topnav {
    background-color: #222;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #E8453B;
    animation: colorchange 120s;
    -webkit-animation: colorchange 120s;
    color: white;
}

.section-header {
    text-align: center;
}

/* ID level styles */

/* Nav rotating colors */
@keyframes colorchange
    {
      0%   {background: #E8453B;}
      25%  {background: purple;}
      50%  {background: blue;}
      75%  {background: purple;}
      100% {background: #E8453B;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: #E8453B;}
      25%  {background: purple;}
      50%  {background: blue;}
      75%  {background: purple;}
      100% {background: #E8453B;}
    }

.block-shade-1 {
	background-color: #eee;
	padding: 10px;
}
.block-shade-2 {
	background-color: #ddd;
	padding: 10px;
}
.block-shade-3 {
	background-color: #ccc;
	padding: 10px;
}
.block-shade-4 {
	background-color: #bbb;
	padding: 10px;
}