body {
	color: #333333;
	font-family: Georgia, Serif;
}

h3 {
	color: #333333;
	font-family: Georgia, Serif;
}

#header {
	font-size: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

div .barb {
	font-size: 200px;
	color: #fff;
	background-color: #222222;
	text-align: center;
	width: 500px;
	height: 500px;
	border-radius: 20px;
}